#login_header .login__logo{
    width: 140px;
    height: 32px;
    margin: 0 auto;
    display: block;
}
#login_header .login__title{
   line-height: .7;
   text-align: center;

}
#login_header .login__title1{
   font-size: 1.25em;
   font-weight: 400;
   color: #4d4d4d;
}
#login_header .login__title2{
   font-size: 1.5em;
   font-weight: 500;
   color: #333333;
}
#login_header .login__title3{
   font-size: 1em;
   font-weight: 300;
   font-style: normal;
   color: #4d4d4d;
}